.lobbyscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}

.titlescreen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}

.charscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}

.gamescreen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}

.stagingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}
