.lobbyscreen {
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: blue;*/
  background-image: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  width: var(--game-width);
  height: var(--game-height);
}

.titlescreen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  width: var(--game-width);
  height: var(--game-height);
  font-family: demonFont;
  font-size: xx-large;
  color: white;
}

.charscreen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  width: var(--game-width);
  height: var(--game-height);
}

.gamescreen {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  width: var(--game-width);
  height: var(--game-height);
}
