@font-face {
  font-family: demonFont;
  src: url("../assets/KELMSCOT.TTF");
}

:root {
  --game-width: 1280px;
  --game-height: 720px;
  --background-start: #1e29f2;
  --background-end: #101f6b;
  --angle1: 0;
  --angle2: 0;
  --angle3: 0;
  --angle4: 0;
}

body {
  background-color: rgb(60, 69, 69);
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

#App {
  width: var(--game-width);
  height: var(--game-height);
  margin: 0 auto;
  border: 15px solid;
  border-image: url("../assets/border.svg");
  border-image-slice: 15;
  transform: translateY(10%);
  padding: 0;
  background-image: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  border-radius: 20px;
  overflow: hidden;
}

.container {
  width: var(--game-width);
  height: var(--game-height);
  padding: 0;
}
