.monster_container {
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  border: 25px solid;
  border-image: url("../assets/border.svg");
  border-image-slice: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  aspect-ratio: 3/2;
  pointer-events: none;
}

.monster_rel_container {
  pointer-events: none;
}

.monster_title {
  font-size: small;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.monster_card_outer {
  position: absolute;
  pointer-events: none;
  width: 200px;
  aspect-ratio: 3/2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  perspective: 1000px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.monster_card {
  pointer-events: auto;
  width: 200px;
  aspect-ratio: 3/2;
  background-color: #fbfaf5;
  border: 1px solid white;
  border-radius: 10px;
  color: #101f6b;
  font-size: small;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 8px 3px #00000080;
}

.monster_card_outer.pui-adding {
  opacity: 0;
}
.monster_card_outer.pui-removing {
  opacity: 0;
}

.topside {
  transform: rotateX(0deg);
}

.topside,
.bottomside {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.bottomside {
  transform: rotateY(180deg);
}

.monster_card_outer:not(.nohover):hover .monster_card {
  transform: rotateY(180deg);
}

.monster_card_title {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  font-size: xx-large;
  text-align: center;
}

.monster_card_reward {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-align: center;
}

.monster_card_subtitle {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-align: center;
}

.monster_card_level {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: small;
  text-align: center;
}

.monster_card_health {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: small;
  text-align: center;
}

.monster_card_description {
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 10px;
  font-size: small;
  text-align: center;
}
