.pui_Container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 200px;
  width: 900px;

  display: flex;
  justify-content: center;
  gap: 25px;
  align-content: center;
  z-index: 16;
}

.pui_playerContainer {
  height: 200px;
  width: 200px;
  position: relative;
}

.pui_svg {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 50%;
}

.pui_bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

.pui_meter-1 {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 405;
  stroke-dashoffset: calc(65 * 0.01745 * var(--angle1));
  stroke: lime;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.pui_meter-2 {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 405;
  stroke-dashoffset: calc(65 * 0.01745 * var(--angle2));
  stroke: lime;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.pui_meter-3 {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 405;
  stroke-dashoffset: calc(65 * 0.01745 * var(--angle3));
  stroke: lime;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.pui_meter-4 {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 405;
  stroke-dashoffset: calc(65 * 0.01745 * var(--angle4));
  stroke: lime;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.pui_atkIMG {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
}

.pui_coinIMG {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.pui_character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.pui_coin_text {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-shadow: 2px 2px black;
}

.pui_atk_text {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 20px;
  height: 20px;
  text-shadow: 2px 2px black;
}

.playerBloom {
  box-shadow: -1px -1px 15px 5px white;
}
