.mainTitle {
  position: relative;
  width: 300px;
  height: 200px;
  border: 25px solid;
  border-image: url("../assets/border.svg");
  border-image-slice: 25;
  margin: 0 auto;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.mainTitle > span {
  text-align: center;
  text-shadow: 2px 2px black;
}

.version {
  font-size: small;
  position: fixed;
  top: 15px;
  left: 15px;
  font-family: "Gill Sans";
}

.STitle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 30px;
  border: 25px solid;
  border-image: url("../assets/border.svg");
  border-image-slice: 25;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  animation: blink 1.5s infinite;
  text-shadow: 2px 2px black;
}

.STitle > span {
  text-align: center;
  font-size: large;
}

.titleButton {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  font-family: demonFont;
  border: 5px rgb(211, 211, 211) solid;
  border-radius: 5px;
  background-color: #00000000;
  color: rgb(211, 211, 211);
  font-size: large;
  width: 150px;
  height: 60px;
  padding: 10px 10px;
  cursor: pointer;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px 1px 1px black;
}

.titleButton:hover {
  background-color: rgb(211, 211, 211);
  color: var(--background-start);
  text-shadow: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.titleHelp {
  position: fixed;
  top: 5px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
