.toast_container {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: var(--game-height);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: flex-start;
  margin: 10px;
}

.toast_entry {
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-end;
  animation: slide-in-from-right 0.75s;
}

.toast_entry_close {
  animation: slide-out-to-right 0.75s forwards;
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  90% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  10% {
    transform: translateX(-10%);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(200%);
  }
}

.toast_message {
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 38px;
  text-align: left;
  font-family: demonFont;
  font-size: small;
  margin-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  transition: width 0.2s ease-in-out;
}

.wide {
  width: 100px;
  border: 5px solid;
  border-image: url("../assets/border.svg");
  border-image-slice: 20;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.hidden {
  display: none;
}

.toast_img {
  width: 30px;
  height: 30px;
  position: relative;
  right: 0;
  bottom: 0;
  margin: 2px;
  z-index: 3;
}

.toast_img_container {
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.toast_close {
  position: relative;
  right: 0;
  top: 0;
  transform: translate(-50%, -25%);
  width: 15px;
  height: 15px;
  border: 50%;
  overflow: hidden;
  color: white;
  font-family: demonFont;
  font-size: large;
  transition: color 0.3s;
}
.toast_close:hover {
  color: red;
}

.bloom {
  box-shadow: 0px 0px 8px 1px white;
}
